:host {
    display: flex;
    background-color: var(--black-primary);
    color: #fff;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.sidebar {
    width: 60px;
    background-color: var(--black-second);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.sidebar .logo img {
    /*background-image: url("../../../../public/assets/icons/xilonen-logo.png");*/
    width: 15px;
    height: 51px;
}

.sidebar .menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
}

.graphics-section {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 50px 20px;
    border-radius: 12px;
    margin: 20px;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: var(--black-second);
    border-radius: 12px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
}

.small-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 2;
}

.small-card {
    background-color: var(--black-second);
    border-radius: 12px;
    padding: 20px;
    flex: 1;
    min-width: 150px;
}

.value {
    font-size: 24px;
    color: var(--green);
    margin: 5px 0;
}

.status .good {
    color: var(--green);
    font-weight: bold;
}

.gauge {
    position: relative;
    background: #333;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.gauge-fill {
    height: 100%;
    background: #33ff77;
}

.gauge-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.bottom {
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .cards,
    .bottom {
        flex-direction: column;
    }
}