/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    background-color:  var(--black-primary);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

:root {
    --black-primary: #212121;
    --black-second: #252424;
    --green: #42BE65;
    --green-two: #008626;
    --white: #ffffff;
    --gray: #7f8c8d;
}

